body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: gainsboro;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*=col-] {
  float: left;
}

[class*=col-] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
/*! Masuk Home-page atau Landing-page */
nav {
  position: fixed;
  text-align: left;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 9999;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li h3 {
  padding-left: 15px;
  font-size: 25px;
  color: greenyellow;
}
nav ul li a {
  display: block;
  padding: 0 12px;
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: greenyellow;
}

header.home {
  text-align: center;
  color: white;
  font-weight: 500;
  padding-top: 180px;
  padding-bottom: 180px;
  background-image: url("/images/1.jpg");
  background-size: cover;
}
header.home .teks1 {
  font-size: 30px;
}
header.home .teks2 {
  font-size: 75px;
  padding-bottom: 25px;
}
header.home a {
  display: inline-block;
  padding: 8px 14px;
  text-decoration: none;
  color: white;
  background-color: greenyellow;
  border-radius: 5px;
}
header.home a:hover {
  background-color: #84c229;
}

section.about {
  background-color: white;
}
section.about div.deskripsi {
  padding: 120px 100px;
}
section.about div.deskripsi u {
  color: #84c229;
}
section.about div.deskripsi b {
  font-size: 20px;
  color: greenyellow;
}
section.about div.deskripsi p {
  font-size: 18px;
}
section.about img {
  width: 100%;
}

section.product {
  text-align: center;
  color: black;
  font-weight: 500;
  padding: 100px 100px;
  padding-bottom: 80px;
}
section.product .teks3 {
  font-size: 20px;
}
section.product .teks4 {
  font-size: 30px;
  padding-bottom: 50px;
}
section.product a {
  display: inline-block;
  padding: 8px 14px;
  text-decoration: none;
  color: black;
  background-color: greenyellow;
  border-radius: 100%;
  font-size: 90px;
  height: 150px;
  width: 150px;
}
section.product a:hover {
  background-color: #84c229;
}

section.iklan {
  text-align: center;
}
section.iklan ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
section.iklan ul li {
  display: inline-block;
}
section.iklan ul img {
  width: 200px;
}

footer {
  background-color: white;
  padding: 30px 80px;
  font-size: 12px;
  color: grey;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer ul li {
  display: inline-block;
  padding-right: 10px;
}
footer ul li.list {
  display: block;
}
footer ul img {
  height: 15px;
}
footer .teks5, footer .teks6 {
  padding-top: 50px;
  font-size: 15px;
}
footer .teks6 {
  text-align: right;
}

/*! Masuk page Review */
header.testimoni1 {
  color: white;
  padding: 100px 100px;
  background-image: url("../images/3.jpg");
  background-size: cover;
  text-align: center;
}
header.testimoni1 .teks7 {
  font-size: 40px;
  padding-bottom: 50px;
  font-weight: 500;
}
header.testimoni1 b {
  font-size: 20px;
}
header.testimoni1 img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.testimoni2 {
  text-align: center;
  padding: 50px 50px;
}
.testimoni2 textarea {
  width: 500px;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
}
.testimoni2 button {
  border: 0;
  color: white;
  background-color: greenyellow;
  padding: 8px 14px;
  border-radius: 5px;
  font-size: 15px;
}
.testimoni2 button:hover {
  background-color: #84c229;
}

.testimoni3 {
  text-align: left;
  padding: 50px 80px;
}
.testimoni3 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.testimoni3 ul li {
  display: inline-block;
  padding-right: 10px;
}
.testimoni3 ul img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.testimoni3 ul b {
  color: blue;
}
.testimoni3 ul time {
  color: grey;
}

/*! Masuk page Produk */
.laptop, .hp, .dll {
  padding: 100px 100px;
}
.laptop .teks7, .hp .teks7, .dll .teks7 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 10px;
}
.laptop ul, .hp ul, .dll ul {
  padding: 0;
  padding-bottom: 50px;
  margin: 0;
  list-style: none;
}
.laptop ul li, .hp ul li, .dll ul li {
  display: inline-block;
  padding-right: 10px;
}
.laptop a, .hp a, .dll a {
  display: block;
  text-decoration: none;
  color: black;
}
.laptop a:hover, .hp a:hover, .dll a:hover {
  color: greenyellow;
}
.laptop p, .hp p, .dll p {
  font-size: 15px;
}
.laptop em, .hp em, .dll em {
  color: #941919;
}

.laptop {
  background-color: #84c229;
}

/*! Masuk page LOGIN */
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  background: white;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px grey;
  border-radius: 10px;
}
.box a {
  color: black;
  display: inline-block;
  padding: 4px 8px;
  text-decoration: none;
  border-radius: 5px;
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #84c229;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  background: transparent;
  color: black;
  margin-bottom: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -25px;
  left: 0;
  color: greenyellow;
  font-size: 15px;
}

.submit {
  font-size: 15px;
  padding: 3px 5px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  background: greenyellow;
  cursor: pointer;
  border-radius: 5px;
}

.submit:hover {
  color: black;
  background: #84c229;
  cursor: pointer;
}

.Cancel {
  font-size: 14px;
  padding: 8px 12px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  background: gainsboro;
  cursor: pointer;
  border-radius: 5px;
}

/*# sourceMappingURL=uts.css.map */
